.g-counter{
  display: none;
  opacity: 0;
  position:fixed;
  top:0;
  right: 0;
  z-index: 99999999999;
  text-align: center;
  background-color: rgba(0,0,0,0.55);
  border-radius: 4px;

  h3{
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    color:#ffffff;
    font-weight: 400;
  }
}